@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue dans PicnicFinder</h1>
    <p>Nous espérons bien que vous aurez trouvé le meilleur lieu pour votre piquenique</p>
</div>