@model List<Space>

@{
  ViewData["Title"] = "Espaces";
}

@section VendorScripts {
  <script src="~/vendor/libs/masonry/masonry.js"></script>
}

<div class="row mb-12 g-6">
  @foreach (var space in Model)
  {
    <div class="col-md-6 col-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">@space.Name</h5>
          <h6 class="card-subtitle">Capacité maximale : @space.Capacity</h6>
        </div>
        <!-- Affiche la première image si elle existe -->
        @if (space.Photos != null && space.Photos.Any())
        {
          <img class="img-fluid" src="@space.Photos[0]" alt="Card image cap" />
        }
        else
        {
          <img class="img-fluid" src="~/img/backgrounds/18.jpg" alt="Card image cap" />
        }
        <div class="card-body">
          <p class="card-text">@space.Description</p>
          <a href="javascript:void(0);" class="card-link">Voir fiche</a>
          @* <a href="javascript:void(0);" class="card-link">Another link</a> *@
        </div>
      </div>
    </div>
  }
</div>
