
@inject IHttpContextAccessor httpContextAccessor
@using System.Security.Claims

@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
    var userRole = httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.Role)?.Value;
    Console.WriteLine(userRole);
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

   
  <ul class="menu-inner py-1">
    @if (httpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
    {   
        @if (userRole == "OWNER")
        {
          <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards/") ? " active open" : "")'>
            <a asp-controller="Dashboards" asp-action="Index" class="menu-link">
              <i class="menu-icon tf-icons bx bx-home-smile"></i>
                <div class="text-truncate" data-i18n="Cards">Dashboard</div>
            </a>
          </li>
        }

        @if (userRole == "ADMIN")
        {
            <li class='menu-item@(currentPage == "/Users/Index" ? " active" : "")'>
                <a asp-controller="Users" asp-action="Index" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-user"></i>
                    <div>Propriétaire</div>
                </a>
            </li>
        }
        
        @if (userRole == "OWNER")
        {
            <li class='menu-item@(currentPage == "/Spaces/Index" ? " active" : "")'>
                <a asp-controller="Spaces" asp-action="Index" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-compass"></i>
                    <div>Les éspaces</div>
                </a>
            </li>
            <li class='menu-item@(currentPage == "/Reservations/Index" ? " active" : "")'>
                <a asp-controller="Reservations" asp-action="Index" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-conversation"></i>
                    <div>Réservations</div>
                </a>
            </li>
        }
    }
  
  </ul>
</aside>
</Menu>
